{% extends 'base.html.twig' %}

{% block title %}Nouveau Contrat{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>➕ Nouveau Contrat</h1>

    <div class="card p-4">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success mt-3">Enregistrer</button>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_contract_index') }}" class="btn btn-secondary mt-3">⬅ Retour à la liste</a>

</div>
{% endblock %}